 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am an data driven engineer with two years of progressive experience in product development, agile project management, automation, IoT, applied machine learning and AI. I have successfully led a team of 7 engineers to develop full life-cycle (prototype to production) of energy monitoring IoT solutions by leveraging open source framework to reduce time-to-market from 12 months to 3 months. Currently I'm spearheading the challenge of implementing Deep-Q Learning for Smart Building Systems.</p>
                </div>
                <div class="col-lg-4">
                    <p> I have developed and successfully implemented a framerwork that merges agile and lean methodologies with waterfall process models to reduce bottleneck and team productivity. In addition to problem solving and critical thinking, my strength lies in managing people. I find multifaceted nature of human dynamics more intriguing and strongly belief that good solutions must have a human narrative. 

                        Outside my work I am committed to education and empower others through knowledge sharing. Connect with me over Linkedin for networking, knowledge sharing and more!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
